@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ae5fce;
  }
  
  nav {
    height: 10vh;
    background: #07cde7;
  }
  
  .z100_navbar-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
  }
  
  .z100_navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .z_container-content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .z_container-content h1 {
    margin: 100px;
    font-size: 50px;
    color: #00ffff;
  }
  
  @media screen and (max-width: 768px) {
    .z100_navbar-li {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .z100_navbar {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .z100_navbar-links {
      position: fixed;
      background: #07cde7;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .z100_navbar-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .z_container-content {
      flex-direction: column;
    }
    .z100_navbar-links li {
      opacity: 0;
    }
    .z100_navbar-links li a {
      font-size: 25px;
    }
    .z100_navbar-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .z100_navbar-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .z100_navbar-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }